<launch>
  <arg name="gui" default="true" />

  <param name="/use_sim_time" value="true"/>

  <arg name="filename" default="test.bag" />
  <node name="player" pkg="rosbag" type="play" output="screen" args="$(arg filename) --clock -r 0.5" />

  <node name="viewer_nir" pkg="image_view" type="image_view" if="$(arg gui)">
    <remap from="image" to="/camera/image" />
  </node>

  <node name="viewer_nit" pkg="image_view" type="image_view" if="$(arg gui)">
    <remap from="image" to="/tachyon/image" />
  </node>

  <include file="$(find mashes_workcell)/launch/mashes_workcell.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="sim" value="true" />
  </include>

</launch>
