<launch>
  <arg name="gui" default="true" />

  <node name="tachyon" pkg="mashes_tachyon" type="pub_tachyon.py">
    <param name="image" type="str" value="/tachyon/image" />
    <param name="mode" type="str" value="rgb8" />
    <param name="config" type="str" value="tachyon.yml" />
  </node>

  <node name="tachyon_viewer" pkg="image_view" type="image_view" if="$(arg gui)">
    <remap from="image" to="/tachyon/image" />
  </node>
</launch>
